---
title: Integrating VMware Harbor Registry with VMware Tanzu Kubernetes Grid Integrated Edition
owner: Partners
---

This topic describes how to integrate Harbor Registry with <%= vars.product_pks_full %> (<%= vars.product_pks_short %>).

<p class="note"><strong>Note:</strong> This documentation supports the Harbor v1.9.x and 1.10.x releases.</p>

## <a id='prereqs'></a> Prerequisites

* You must have installed <%= vars.product_pks_short %>. For more information, see [Installing <%= vars.product_pks_short %>](https://docs.pivotal.io/tkgi/installing.html) in the <%= vars.product_pks_short %> documentation.
* You must have installed Harbor. For more information, see [Installing and Configuring VMware Harbor Registry](./installing.html).

## <a id='update-dns'></a> Update DNS for Harbor

After you install and configure Harbor, you must update the DNS entry for the Harbor hostname with the IP address of the Harbor VM assigned by BOSH.

To view the IP address assigned to Harbor, click the Harbor tile and select the **Status** tab.

<img src="images/harbor-ip.png" alt="Get Harbor IP" width="725">

## <a id='provide-harbor-cert'></a> Import the CA Certificate Used to Sign the Harbor Certificate and Key to BOSH

<%= vars.product_pks_short %> must authenticate connections to Harbor to pull images from and push
images to Harbor. Before you can use Harbor with <%= vars.product_pks_short %>, you must configure
the BOSH Director with the CA certificate that was used to sign the Harbor certificate and private
key. For more information, see
[Configure SSL Certificate and Key](./installing.html#configure_certificate) in
_Installing and Configuring VMware Harbor Registry_.

By adding the CA certificate that was used to sign the Harbor certificate and key
to the BOSH Director security configuration, all Kubernetes clusters deployed by
<%= vars.product_pks_short %> can automatically trust this Harbor registry instance.

<p class="note"><strong>Note:</strong> Follow the procedures in this topic to configure all of your 
  <%= vars.product_pks_short %> Kubernetes clusters with the same Harbor Registry CA certificate. 
  If you use <%= vars.product_pks_short %> v1.6 or later, and you want to apply Docker Registry CA certificates to individual <%= vars.product_pks_short %> clusters, or you want to allow different clusters to connect to different Harbor registry instances, see <a href="https://docs.pivotal.io/tkgi/docker-custom-ca-certs.html">
  Configuring Cluster Access to Private Docker Registries (Beta)</a>. 
</p>

### <a id='get-harbor-cert'></a> Obtain the CA Certificate Used to Sign the Harbor Certificate and Key

If you installed Harbor with a custom certificate and private key, follow the steps
below. For more information, see [Use Custom Certificate](./installing.html#custom_cert)
in _Installing and Configuring VMware Harbor Registry_.

1. Obtain the third-party CA certificate that was used to sign the Harbor certificate and key.

1. Import the CA certificate to the BOSH Director. For instructions, see the [Load the CA Certificate to the BOSH Director Security Configuration](./integrating-pks.html#load-harbor-cert) section below.

If you had Ops Manager automatically generate the certificate and key for Harbor,
download the Ops Manager Root CA Certificate by following the steps below. For more
information, see [Use Generated Certificate](./installing.html#generate_cert) in
_Installing and Configuring VMware Harbor Registry_.

1. Navigate to the Ops Manager **Installation Dashboard**.

1. In the upper right corner, click your username and select **Settings**.

    <img src="images/opsmgr-01.png" alt="Ops Manager Settings" width="425">

1. Select **Advanced Options**.

1. Click **Download Root CA Cert**.

    <img src="images/opsmgr-02.png" alt="Ops Manager Advanced" width="425">

1. Import the CA certificate to the BOSH Director. For instructions, see the [Load the CA Certificate to the BOSH Director Security Configuration](./integrating-pks.html#load-harbor-cert) section below.

### <a id='load-harbor-cert'></a> Load the CA Certificate to the BOSH Director Security Configuration

Once you have obtained the Harbor CA Certificate file, perform the following steps to load the certificate in the BOSH Director security configuration:

1. Log in to Ops Manager.

1. Navigate to the **Installation Dashboard**.

1. Click the **BOSH Director** tile.

1. Click **Security**.

    <img src="images/opsmgr-03.png" alt="BOSH Director Security" width="425">

1. Open the CA certificate file from [Obtain the Harbor CA Certificate](#get-harbor-cert) in a text editor.

    <img src="images/opsmgr-04.png" alt="CA Cert" width="425">

1. Copy and paste the contents of the CA certificate file into the **Trusted Certificates** field.

    <img src="images/opsmgr-05.png" alt="Trusted Cert" width="425">

1. Click **Save**.

    <img src="images/opsmgr-06.png" alt="Save" width="425">

1. Return to the **Installation Dashboard** and click **Apply Changes**. BOSH is redeployed.

## <a id='create-dnat-harbor'></a> Create DNAT Rule for Harbor (NSX-T only)

If you integrate Harbor with <%= vars.product_pks_short %> in a NSX-T environment that uses NAT mode, the IP address for Harbor provided by Ops Manager is not publicly inaccessible, and you cannot access the Harbor UI from `https://harbor_host_address:443`. For more information about Nat mode, see [NAT Topology](https://docs.pivotal.io/tkgi/nsxt-topologies.html#topology-nat) in _NSX-T Deployment Topologies for <%= vars.product_pks_short %>_.

To access the Harbor UI, you must create a DNAT rule in the NSX-T Tier-0 router that maps the Harbor IP address to a routable IP address in your virtual network. For more information, see:

  * **NSX-T v2.4 or v2.5**: [Create DNAT Rule on T0 Router for Harbor Registry](https://docs.pivotal.io/pks/1-7/nsxt-prepare-mgmt-plane.html#create-dnat-harbor) in _Creating the <%= vars.product_pks_short %> Management Plane_
  * **NSX-T v3.0**: [Create Management Plane](https://docs.pivotal.io/tkgi/nsxt-3-0-install.html#nsxt30-mgmt-plane) in _Installing and Configuring NSX-T Data Center v3.0 for <%= vars.k8s_runtime_abbr %>_

<p class='note'><strong>Note:</strong> The IP address that your FQDN resolves to should be in the range of the NSX-T <code>external-ip-pool</code> (<strong>Inventory > Groups > IP Pools</strong>). If the IP address is not in this range, you must assign an IP address from the CIDR that is outside of the specified range in use for <code>external-ip-pool</code>.</p>

If you are using Harbor with <%= vars.product_pks_short %> with NSX-T in NAT mode, create a DNAT rule for Harbor as follows:

1. In the NSX Manager, select **Routing** > **NAT** > **T0-Router**.

1. Click **ADD**.

1. Configure the NAT rule as follows:
    * **Priority**: `1024`
    * **Action**: `DNAT`
    * **Protocol**: `Any Protocol`
    * **Destination IP**: The external IP address that your FQDN resolves to
    * **Translated IP**: The IP address of the Harbor VM
    * **Status**: `Enabled`
    * **Firewall Bypass**: `Enabled`

1. Click **Save**.

    <img src="images/harbor-dnat.png" alt="NSX-T NAT Rule for Harbor" width="425">

## <a id='wavefront'></a> Monitor Harbor Using Wavefront

If you enabled Wavefront monitoring in the Harbor tile, there are additional steps to take to initiate monitoring with Wavefront.

1. After Wavefront is configured and installed in the Harbor tile, go to your Wavefront portal URL (for example, <https://longboard.wavefront.com>) and login with your user name and password. 

    <img src="images/wavefront-01.png" alt="Launch Wavefront" width="425">

1. Click **Integrations** and install the Linux Host. 

1. Click the **Dashboard** tab and select **Install Dashboards**.

    <img src="images/wavefront-02.png" alt="Choose Wavefront Integrations" width="425">

1. Go to **Dashboards** > **All dashboards** > **Linux Host Dashboards**.

1. From here you can view the CPU, Memory and Disk usage of the Harbor VM.

    <img src="images/wavefront-03.png" alt="Wavefront Monitoring" width="425">

For more information about monitoring with Wavefront, refer to the [Wavefront documentation](https://docs.wavefront.com/index.html).

## <a id='next-steps'></a> Next Steps

- [Starting Harbor](./using.html#starting) in _Using VMware Harbor Registry_
- [Using Harbor](./using.html#using) in _Using VMware Harbor Registry_
