---
title: Using the VMware Harbor Registry Tile
owner: Partners
---

This topic describes how to use the VMware Harbor Registry Tile installation.

## <a id='prereqs'></a> Prerequisites

* You must have installed <%= vars.product_pks_short %>. For more information, see [Installing <%= vars.product_pks_short %>](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.19/tkgi/GUID-installing.html) in the <%= vars.product_pks_short %> documentation.
* You must have installed Harbor. For more information, see [Installing and Configuring VMware Harbor Registry](./installing.html).
* You must have integrated Harbor with <%= vars.product_pks_short %> or VMware Tanzu Application Service for VMs. For more information, see one of the following:
  * [Integrating VMware Harbor Registry with <%= vars.product_pks_short %>](./integrating-pks.html).
  * [Using Docker Registries](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/docker-registry.html).

## <a id='starting'></a> Starting Harbor

To log in to VMware Harbor Registry, do the following:

1. In a web browser, navigate to `https://harbor_host_address:443`.

1. Enter the username `admin`.

1. Enter the password that you set when you configured Harbor for <%= vars.product_pks_short %>.

<p class='note'><strong>Note:</strong> If the Harbor UI is not accessible, make sure you have completed the integration steps, including updating DNS for Harbor, trusting the certificate, and creating a NAT rule for the Harbor UI. For more information, see <a href="./integrating-pks.html">Integrating VMware Harbor Registry with <%= vars.product_pks_short %></a>.</p>

## <a id='using'></a> Using Harbor

For information about how to use Harbor, see the [Harbor User Guide](https://goharbor.io/docs):

- [Role Based Access Control (RBAC)](https://goharbor.io/docs/1.10/working-with-projects/create-projects/)
- [Managing projects](https://goharbor.io/docs/1.10/working-with-projects/)
- [Managing members of a project](https://goharbor.io/docs/1.10/administration/managing-users/)
- [Searching projects and repositories](https://goharbor.io/docs/1.10/working-with-projects/create-projects/#searching-projects-and-repositories)
- [Administrator options](https://goharbor.io/docs/1.10/administration/)
- [Pulling and pushing images using Docker client](https://goharbor.io/docs/1.10/working-with-projects/working-with-images/pulling-pushing-images/)
- [Pull image from Harbor in Kubernetes](https://goharbor.io/docs/1.10/working-with-projects/working-with-images/pulling-pushing-images/#pulling-images-from-harbor-in-kubernetes)
